body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0e8e8;
    padding: 20px;
}

.link {
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    color: #020202;
}

.json-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.json-sub {
    background-color: #756c6c;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.json-key {
    font-size: small;
    font-weight: bold;
    color: #020202;
}

.json-value {
    font-size: small;
    color: #ffffff;
}

.logout {
    font-size: 8px;
    font-weight: bold;
    color: #020202;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#olho {
    position: relative;
    left: 52%;
    bottom: 105px;
    height: 1.7em;
    cursor: pointer;

}

input {
    font-family: Arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    font-family: Arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}